parameters:
	ignoreErrors:
		-
			message: "#^Call to function is_string\\(\\) with string will always evaluate to true\\.$#"
			count: 1
			path: src/FakeVariables.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/FakeVariables.php

		-
			message: "#^Strict comparison using \\!\\=\\= between array\\{\\} and array\\{\\} will always evaluate to false\\.$#"
			count: 1
			path: src/FakeVariables.php

		-
			message: "#^Strict comparison using \\!\\=\\= between false and false will always evaluate to false\\.$#"
			count: 1
			path: src/FakeVariables.php

		-
			message: "#^Call to function is_string\\(\\) with string will always evaluate to true\\.$#"
			count: 1
			path: src/ReadOnlyVariables.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/ReadOnlyVariables.php

		-
			message: "#^Strict comparison using \\!\\=\\= between array\\{\\} and array\\{\\} will always evaluate to false\\.$#"
			count: 1
			path: src/ReadOnlyVariables.php

		-
			message: "#^Strict comparison using \\!\\=\\= between false and false will always evaluate to false\\.$#"
			count: 1
			path: src/ReadOnlyVariables.php

		-
			message: "#^Dead catch \\- Ergebnis\\\\Environment\\\\Exception\\\\CouldNotUnset is never thrown in the try block\\.$#"
			count: 2
			path: src/TestVariables.php

		-
			message: "#^Method Ergebnis\\\\Environment\\\\Test\\\\DataProvider\\\\Name\\:\\:invalidType\\(\\) should return Generator\\<string, array\\<int, int\\>, mixed, mixed\\> but returns Generator\\<string, array\\{mixed\\}, mixed, mixed\\>\\.$#"
			count: 1
			path: test/DataProvider/Name.php

		-
			message: "#^Method Ergebnis\\\\Environment\\\\Test\\\\DataProvider\\\\Name\\:\\:invalidValue\\(\\) should return Generator\\<string, array\\<int, string\\>, mixed, mixed\\> but returns Generator\\<string, array\\{mixed\\}, mixed, mixed\\>\\.$#"
			count: 1
			path: test/DataProvider/Name.php

		-
			message: "#^Method Ergebnis\\\\Environment\\\\Test\\\\DataProvider\\\\Value\\:\\:invalidType\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: test/DataProvider/Value.php

		-
			message: "#^Method Ergebnis\\\\Environment\\\\Test\\\\DataProvider\\\\Value\\:\\:invalidType\\(\\) should return Generator\\<string, array\\<int, array\\|float\\|int\\|resource\\|stdClass\\|true\\|null\\>, mixed, mixed\\> but returns Generator\\<string, array\\{mixed\\}, mixed, mixed\\>\\.$#"
			count: 1
			path: test/DataProvider/Value.php

		-
			message: "#^Method Ergebnis\\\\Environment\\\\Test\\\\DataProvider\\\\Value\\:\\:invalidValue\\(\\) should return Generator\\<string, array\\<int, int\\|object\\|true\\|null\\>, mixed, mixed\\> but returns Generator\\<string, array\\{mixed\\}, mixed, mixed\\>\\.$#"
			count: 1
			path: test/DataProvider/Value.php

		-
			message: "#^Parameter \\#1 \\$values of static method Ergebnis\\\\Environment\\\\FakeVariables\\:\\:fromArray\\(\\) expects array\\<string, string\\|false\\>, array\\{FOO\\: mixed\\} given\\.$#"
			count: 1
			path: test/Unit/FakeVariablesTest.php

		-
			message: "#^Parameter \\#1 \\$values of static method Ergebnis\\\\Environment\\\\FakeVariables\\:\\:fromArray\\(\\) expects array\\<string, string\\|false\\>, non\\-empty\\-array\\<int\\|string, string\\> given\\.$#"
			count: 1
			path: test/Unit/FakeVariablesTest.php

		-
			message: "#^Parameter \\#1 \\$values of static method Ergebnis\\\\Environment\\\\ReadOnlyVariables\\:\\:fromArray\\(\\) expects array\\<string, string\\|false\\>, array\\{FOO\\: mixed\\} given\\.$#"
			count: 1
			path: test/Unit/ReadOnlyVariablesTest.php

		-
			message: "#^Parameter \\#1 \\$values of static method Ergebnis\\\\Environment\\\\ReadOnlyVariables\\:\\:fromArray\\(\\) expects array\\<string, string\\|false\\>, non\\-empty\\-array\\<int\\|string, string\\> given\\.$#"
			count: 1
			path: test/Unit/ReadOnlyVariablesTest.php

