parameters:
	ignoreErrors:
		-
			message: "#^Call to function is_string\\(\\) with string will always evaluate to true\\.$#"
			count: 1
			path: src/Test.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Test.php

		-
			message: "#^Strict comparison using \\!\\=\\= between false and false will always evaluate to false\\.$#"
			count: 1
			path: src/Test.php

		-
			message: "#^Parameter \\#1 \\$values of method Ergebnis\\\\Environment\\\\Variables\\\\Test\\:\\:set\\(\\) expects array\\<string, string\\|false\\>, array\\<int\\|string, string\\> given\\.$#"
			count: 1
			path: test/Unit/TestTest.php

		-
			message: "#^Parameter \\#1 \\$values of method Ergebnis\\\\Environment\\\\Variables\\\\Test\\:\\:set\\(\\) expects array\\<string, string\\|false\\>, array\\<string, array\\|int\\|stdClass\\|true\\|null\\> given\\.$#"
			count: 1
			path: test/Unit/TestTest.php

